*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Kumbh-Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6565e7), to(#af67e9));
  background-image: linear-gradient(to top, #6565e7, #af67e9);
}

@media (min-width: 280px) {
  .component-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 15% 85%;
        grid-template-rows: 15% 85%;
    background-color: white;
    height: 80vh;
    width: 90%;
    margin-top: 6em;
    border-radius: 2.5em;
    -webkit-box-shadow: 0 2em 3em 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 2em 3em 0 rgba(0, 0, 0, 0.3);
  }
  .component-body .image-area {
    position: relative;
  }
  .component-body .image-area__image-mobile {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    bottom: 40%;
    margin: 0 auto;
  }
  .component-body .image-area .image-desktop {
    display: none;
  }
  .component-body .image-area .image-desktop__box {
    display: none;
  }
  .component-body .faq-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5em 0;
  }
  .component-body .faq-area__header {
    font-size: 4rem;
    margin-bottom: 1em;
  }
  .component-body .faq-area .accordion-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 1em;
    width: 100%;
    cursor: pointer;
  }
  .component-body .faq-area .accordion-area .faq-question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 1em 0 0;
    width: 100%;
    cursor: pointer;
  }
  .component-body .faq-area .accordion-area .faq-question__question {
    font-size: 1.2rem;
    color: #1d1e35;
  }
  .component-body .faq-area .accordion-area .faq-question__answer {
    display: none;
    margin: 1em 2em 1em 0;
    width: 90%;
  }
  .component-body .faq-area .accordion-area .faq-question .question-active {
    color: #000000;
    font-weight: 700;
  }
  .component-body .faq-area .accordion-area .faq-question .show-answer {
    display: block;
  }
  .component-body .faq-area .accordion-area .faq-question .rotate-arrow {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media (min-width: 325px) {
  .component-body .faq-area .accordion-area .faq-question {
    padding: 0.5em 1.25em;
  }
  .component-body .faq-area .accordion-area .faq-question__question {
    font-size: 1.3rem;
  }
  .component-body .faq-area .accordion-area .faq-question__arrow-icon {
    width: 1.2em;
    height: 1em;
  }
  .component-body .faq-area .accordion-area .faq-question .question-active {
    color: #000000;
    font-weight: 700;
  }
  .component-body .faq-area .accordion-area .faq-question .show-answer {
    display: block;
  }
  .component-body .faq-area .accordion-area .faq-question .rotate-arrow {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 1.2em;
    height: 1em;
  }
}

@media (min-width: 375px) {
  .component-body .faq-area .accordion-area .faq-question {
    padding: 1em 1.5em;
  }
  .component-body .faq-area .accordion-area .faq-question__question {
    font-size: 1.4rem;
  }
  .component-body .faq-area .accordion-area .faq-question__arrow-icon {
    width: 1.2em;
    height: 1em;
  }
  .component-body .faq-area .accordion-area .faq-question .question-active {
    color: #000000;
    font-weight: 700;
  }
  .component-body .faq-area .accordion-area .faq-question .show-answer {
    display: block;
  }
  .component-body .faq-area .accordion-area .faq-question .rotate-arrow {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 1.2em;
    height: 1em;
  }
}

@media (min-width: 576px) {
  .component-body .faq-area .accordion-area .faq-question {
    padding: 1em 3em;
  }
  .component-body .faq-area .accordion-area .faq-question__question {
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .component-body {
    height: 75vh;
    margin-top: 10em;
  }
  .component-body .image-area {
    position: relative;
  }
  .component-body .image-area__image-mobile {
    position: absolute;
    width: 300px;
    left: 0;
    right: 0;
    bottom: 5%;
    margin: 0 auto;
  }
  .component-body .faq-area .accordion-area .faq-question {
    padding: 1em 3em;
  }
  .component-body .faq-area .accordion-area .faq-question__question {
    font-size: 1.4rem;
  }
  .component-body .faq-area .accordion-area .faq-question__arrow-icon {
    width: 1.4em;
    height: 1em;
  }
  .component-body .faq-area .accordion-area .faq-question .question-active {
    color: #000000;
    font-weight: 700;
  }
  .component-body .faq-area .accordion-area .faq-question .show-answer {
    display: block;
  }
  .component-body .faq-area .accordion-area .faq-question .rotate-arrow {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 1.4em;
    height: 1em;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
  .component-body {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 10% 80% 10%;
        grid-template-rows: 10% 80% 10%;
    width: 90%;
    height: 75vh;
  }
  .component-body .image-area {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .component-body .image-area__image-mobile {
    display: none;
  }
  .component-body .image-area .image-desktop {
    display: block;
    background-image: url(../images/illustration-woman-online-desktop.svg);
    height: 100%;
    width: 80%;
    background-repeat: no-repeat;
    background-position: 140% center;
    background-size: 110%;
    margin-right: 10em;
    position: relative;
  }
  .component-body .image-area .image-desktop__image-icon {
    position: absolute;
    left: -60px;
    top: 210px;
    width: 37.5%;
    height: 35%;
  }
  .component-body .faq-area {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .component-body .faq-area__header {
    margin-bottom: 1em;
  }
  .component-body .faq-area .accordion-area {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 1em 0;
    padding: 0;
    width: 80%;
  }
  .component-body .faq-area .accordion-area .faq-question {
    padding: .5em 2em 1em 0;
    width: 100%;
  }
  .component-body .faq-area .accordion-area .faq-question__answer {
    display: none;
    width: 100%;
    margin-bottom: 0;
  }
  .component-body .faq-area .accordion-area .faq-question .question-active {
    color: #000000;
    font-weight: 700;
  }
  .component-body .faq-area .accordion-area .faq-question .show-answer {
    display: block;
  }
  .component-body .faq-area .accordion-area .faq-question .rotate-arrow {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
/*# sourceMappingURL=style.css.map */