@media (min-width: 992px) {
  .wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
  .component-body {
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 80% 10%;
    width: 90%;
    height: 75vh;
    .image-area {
      grid-row: 2/3;
      &__image-mobile {
        display: none;
      }
      .image-desktop {
        display: block;
        background-image: url(../images/illustration-woman-online-desktop.svg);
        height: 100%;
        width: 80%;
        background-repeat: no-repeat;
        background-position: 140% center;
        background-size: 110%;
        margin-right: 10em;
        position: relative;
        &__image-icon {
          position: absolute;
              left: -60px;
              top: 210px;
              width: 37.5%;
              height: 35%;
        }
      }
    }
    .faq-area{
      grid-column: 2/3;
      grid-row: 2/3;
      align-items: flex-start;
      &__header{
        margin-bottom: 1em;
      }
      .accordion-area {
        align-items: flex-start;
        margin: 1em 0;
        padding: 0;
        width: 80%;
      .faq-question{
        padding: .5em 2em 1em 0;
        width: 100%;
        &__answer{
          display: none;
          width: 100%;
          margin-bottom: 0;
        }
        .question-active{
          color: $black;
          font-weight: $bold;
        }
        .show-answer{
          display: block;
        }
        .rotate-arrow{
          transform: rotate(180deg);
          
        }
      }
    }
    }
  }
}
