@media (min-width: 992px) {
  .wrapper {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  .component-body {
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 80% 10%;
    width: 70%;
    height: 60vh;
    .image-area {
      grid-row: 2/3;

      &__image-mobile {
        display: none;
      }
      .image-desktop {
        display: block;
        background-image: url(/faqaccordion/images/illustration-woman-online-desktop.svg);
        height: 100%;
        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: 115%;
        margin-right: 1em;
        position: relative;
        &__image-icon {
          position: absolute;
              left: -60px;
              top: 170px;
              width: 150px;
              height: 150px;
        }
      }
    }
  }
}
