@media (min-width: 280px) {
  .component-body {
    display: grid;
    grid-template-rows: 25% 75%;
    background-color: $white;
    height: 70vh;
    width: 90%;
    margin-top: 6em;

    border-radius: 2.5em;
    box-shadow: 0 2em 3em 0 rgba($color: $black, $alpha: 0.3);
    .image-area {
      position: relative;
      &__image-mobile {
        position: absolute;
        width: 200px;
        left: 0;
        right: 0;
        bottom: 60%;
        margin: 0 auto;
      }
      .image-desktop {
        display: none;
        &__box {
          display: none;
        }
      }
    }
    .faq-area {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      &__header {
        font-size: 4rem;
      }
      .accordion-area {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        .faq-question {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2.25em 1em;
          width: 100%;
          cursor: pointer;
          &__question {
            font-size: 1.2rem;
            color: $Very-Darkd-Dsaturated-Blue;
          }
        }
      }
    }
  }
}
@media (min-width: 325px) {
  .component-body{ 
  .faq-area {
    .accordion-area {
      .faq-question {
        padding: 2.25em 1.25em;
        &__question{
          font-size: 1.3rem;
        }
        &__arrow-icon{
          transform: scale(1.2);
        }
      }    
    }
  }
}
}
@media (min-width: 375px) {
  .component-body{ 
  .faq-area {
    .accordion-area {
      .faq-question {
        padding: 2.25em 1.5em;
        &__question{
          font-size: 1.4rem;
        }
        &__arrow-icon{
          transform: scale(1.3);
        }
      }
    }
  }
}
}

