@media (min-width: 768px) {
    .component-body{
        height: 75vh; 
        margin-top: 10em;
        .image-area {
            position: relative;
            &__image-mobile {
              position: absolute;
              width: 300px;
              left: 0;
              right: 0;
              bottom: 5%;
              margin: 0 auto;
            }
          }
    .faq-area {
      .accordion-area {
        .faq-question {
          padding: 1em 3em;
          &__question{
            font-size: 1.4rem;
          }
          &__arrow-icon{
            width: 1.4em;
            height: 1em;
          }
          .question-active{
            color: $black;
            font-weight: $bold;
          }
          .show-answer{
            display: block;
          }
          .rotate-arrow{
              transform: rotate(180deg);
              width: 1.4em;
              height: 1em;
          }
        }
      }
    }
  }
  }